<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952897876922-7aciesupn894tgdn2t1afs2fd1i5l2dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952897876922-7aciesupn894tgdn2t1afs2fd1i5l2dd</string>
	<key>API_KEY</key>
	<string>AIzaSyCEq58BOw2mrMfNmcJvF4OT35w0tyta26U</string>
	<key>GCM_SENDER_ID</key>
	<string>952897876922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nx.eventsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sequrify-ca97a</string>
	<key>STORAGE_BUCKET</key>
	<string>sequrify-ca97a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952897876922:ios:6880aca30e5cbb6a7da383</string>
</dict>
</plist>